<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">
    <!--搜索表单-->
    <!--inline是行内表单模式-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">
        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="企业名称">
            <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>

        <el-form-item label="品牌名称">
            <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->
    <el-row>
        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>
    </el-row>

    <!--添加数据对话框表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible"
            width="30%">
        <el-form ref="form" :model="brand" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model="brand.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addBrand">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--表格-->
    <template>
        <!--row-class-name设置行颜色。通过指定 Table 组件的 row-class-name 属性来为 Table 中的某一行添加 class，表明该行处于某种状态。-->
        <!--        @selection-change="handleSelectionChange"复选框方法-->
        <el-table
                :data="tableData"
                style="width: 100%"

                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="statusStr"
                    align="center"
                    label="当前状态">
            </el-table-column>
<!--            <el-table-column-->
<!--                    align="center"-->
<!--                    label="操作">-->
<!--                <el-row>-->
<!--                    <el-button type="primary">修改</el-button>-->
<!--                    <el-button type="danger" >删除</el-button>-->
<!--                </el-row>-->
<!--            </el-table-column>-->
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="danger"
                               @click="deleteById(scope.row)">删除
                    </el-button>
                    <el-button type="primary"
                              >修改
                    </el-button>
                </template>
            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectAll();
        },
        methods: {
            deleteById(row) {
                let curId = row.id;
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮
                    var _this = this;
                    axios({
                        method: "post",
                        url: "http://localhost/brand-demo/brand/deleteById",
                        data: curId
                    }).then(function (resp) {
                        if (resp.data == "success") {

                            _this.selectAll();
                            _this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }
                    })

                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },



        selectAll() {
            var _this = this;
            axios({
                method: "post",
                url: "http://localhost/brand-demo/brand/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                data:this.brand
            }).then(resp => {
                this.tableData = resp.data.rows;
                this.totalCount=resp.data.total;
            })

        },
        // row-class-name="tableRowClassName"，设置行颜色
        tableRowClassName({row, rowIndex}) {
            if (rowIndex % 4 == 1) {
                return 'warning-row';
            } else if (rowIndex % 4 === 3) {
                return 'success-row';
            }
            return '';
        },
        // 复选框选中后执行的方法
        handleSelectionChange(val) {
            this.multipleSelection = val;

            console.log(this.multipleSelection)
        },
        // 查询方法
        onSubmit() {
           // console.log(this.brand);
            this.selectAll();
        },
        // 添加数据
        addBrand() {
            // console.log(this.brand);
            var _this = this;
            axios({
                method: "post",
                url: "http://localhost/brand-demo/brand/add",
                data: _this.brand
            }).then(function (resp) {
                if (resp.data == "success") {
                    _this.dialogVisible = false;
                    _this.selectAll();
                    _this.$message({
                        message: '恭喜你，添加成功',
                        type: 'success'
                    });
                }
            })

        },
        //分页
        handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange(val) {
            // console.log(`当前页: ${val}`);
            this.currentPage = val;
            this.selectAll();
        },

        // 批量删除
        deleteByIds() {
            // 弹出确认提示框
            this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                //用户点击确认按钮
                //1. 创建id数组 [1,2,3], 从 this.multipleSelection 获取即可
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    this.selectIds[i] = this.multipleSelection[i].id;
                }
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost/brand-demo/brand/deleteByIds",
                    data: _this.selectIds
                }).then(function (resp) {
                    if (resp.data == "success") {

                        _this.selectAll();
                        _this.$message({
                            message: '恭喜你，删除成功',
                            type: 'success'
                        });
                    }
                })

            }).catch(() => {
                //用户点击取消按钮
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
        }

        },
        data() {
            return {
                pageSize:5,
                totalCount:100,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,

                // 品牌模型数据
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id: "",
                    ordered: "",
                    description: "",
                    statusStr:""
                },
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [],
                selectIds: []
            }
        }
    })
</script>
</body>
</html>